<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Laundry</title>
  </head>
  <body>
    <h1>Welcome to my Store Your Name!</h1>
    <label>Hello</label>
    <img
      src="https://www.tuhogar.com/content/dam/cp-sites/home-care/tu-hogar-redesign/trucos-y-tips-de-limpieza/hogar/guia-de-actividades-para-mantener-tu-casa-siempre-limpia/actividades-para-mantener-tu-casa-limpia-desktop.jpg.rendition.1566.700.jpg"
      alt="limpieza en casa"
    />

    <script src="products.js"></script>
  </body>
</html>
